



body{ text-align: center;
     font-family: Raleway, serif;
     letter-spacing: 1px;
     margin:0;
     }

header{
      background-color:#F15B31;
      color:#FFFFFF;
      padding:30px 20px;
}

.HeadLinks{text-transform: uppercase;}

nav{
   background-color: #00A6B3;
   font-color: #FFFFFF;
   padding:20px;
}

a{
  margin:20px;
  border-bottom: 2px solid transparent;
}

a:hover{
    color:#FFFFFF;
    border-color: #FFFFFF;
}

main{ width:850px;
    margin:35px auto;
}

h1{font-weight: 400;
   font-size: 45px;
   /*color: #0D2C40;*/
   margin:0;
}
#game{
    font-weight:600;
    font-size:20px;
    color:#F15B61; 
}
#instruct{
    font-weight: 600;
	  font-size:20px;
	  color:#0D2C40;
	 }

p{
  font-family: "Droid Serif", serif;
  font-size:18px;
  line-height: 26px;
  }

img{
    margin: 40px 8px;
}

footer{
    text-transform:uppercase;
    font-size:14px;
    font-weight:500;
    letter-spacing:.08em;
    color:#FFFFFF;
    background-color:#0D2C40;
    padding:0px 20px;
}

.copyright{
    font-family:Raleway,serif;
    float:left;   
}

.message{
    font-family:Raleway,serif;
    float:right;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    content:" ";
    clear: both;
    height:0;
    font-size:0;
}

.name{
  color:#F15B31;
  font-weight:700;
}